ALTER TABLE public.clubs_game_sessions ENABLE ROW LEVEL SECURITY;
CREATE POLICY \
Enable
insert
for
authenticated
users\ ON public.clubs_game_sessions FOR INSERT TO authenticated WITH CHECK (true);
CREATE POLICY \Enable
read
for
authenticated
users\ ON public.clubs_game_sessions FOR SELECT TO authenticated USING (true);
CREATE POLICY \Enable
update
for
authenticated
users\ ON public.clubs_game_sessions FOR UPDATE TO authenticated USING (true) WITH CHECK (true);
ALTER TABLE public.clubs_round_scores ENABLE ROW LEVEL SECURITY;
CREATE POLICY \
Enable
insert
for
authenticated
users\ ON public.clubs_round_scores FOR INSERT TO authenticated WITH CHECK (true);
CREATE POLICY \Enable
read
for
authenticated
users\ ON public.clubs_round_scores FOR SELECT TO authenticated USING (true);
CREATE POLICY \Enable
update
for
authenticated
users\ ON public.clubs_round_scores FOR UPDATE TO authenticated USING (true) WITH CHECK (true);
